body{
    font-family: Arial Rounded MT Bold;
}

::selection {
    background-color: #00d1b2;
    color: #fff;
}

.section {
    padding: 6rem 1.5rem;
}

.column.is-one-fifth {
    margin: 0 auto;
    padding: 15px 0;
    width: 100% !important;
}

.button {
    top: 15px;
}

input:focus {
    border-color: #00d1b2 !important;
    box-shadow: 0 0 0 0.125em rgba(50, 220, 169, 0.25) !important;
}

.table td {
    text-align: center !important;
}